services:
  db:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: modern_hospital_mssql
    ports:
      - "1433:1433"
    environment:
      ACCEPT_EULA: "Y"
      MSSQL_PID: "Developer"
      MSSQL_SA_PASSWORD: "Str0ng!Passw0rd123"
    volumes:
      - mssql_data:/var/opt/mssql

volumes:
  mssql_data:
